@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Lucky Paw</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Lucky Paw</h2>
        <p>
            Lucky Paw is a dog training service and dog training product shopping site that is still under develop.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Service</h2>
        <p>Dog Training can be headache so let the struggle to us and let us help you. </p>
        <p>Type of Dog Training service we do:</p>
        <p>1. Service Dog</p>
        <p>2. Teraphy Dog</p>
        <p>3. Protection Dog</p>
        <p>4. Detection Dog</p>
        <p>5. Hunting Dog</p>
        <p>6. General Obidiance</p>
        
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>We are selling most of the product that you need inorder to help you continue or start your own training</p>
       
    </div>
</div>